header{
  background-color: #222;
  height: 40px;
  padding: 10px 0;
  color: white;
  border-bottom:1px solid;
  min-width:300px;
}

header .logo{
  width: 160px;
  height:40px;
  float:left;
  text-align:center;
  box-sizing:border-box;
  border-right:1px solid;
}

header .logo img{
  animation: logoSpin 2s linear infinite;
  width: 100px;height: auto;
}
header h1{
  margin-left:160px;
  font-size: 1.5em;
  height: 40px;
  line-height:40px;
  text-align:center;
}

@media screen and (max-width: 450px){
	header .logo{
	  width: 100%;
	  border:none;
	}

	header .logo img{
	  width: 150px;height: auto;
	}

	header h1{
	  display:none;
	}
}
@media screen and (min-width: 450px){
	header .logo{
	  width: 160px;
	  border-right:1px solid;
	}

	header .logo img{
	  width: 100px;height: auto;
	  margin-top:5px;
	}

	header h1{
	  display:block;
	  margin-left:160px;
	  font-size: 1.5em;
	  height: 40px;
	  line-height:40px;
	  text-align:center;
	}
}

@keyframes logoSpin{
	0% { transform: rotate(0deg); }
	25% { transform: rotate(3deg); }
	35% { transform: rotate(-3deg); }
	45% { transform: rotate(3deg); }
	55% { transform: rotate(-3deg); }
	65% { transform: rotate(3deg); }
	75% { transform: rotate(-3deg); }
	100% { transform: rotate(0deg); }
}